[submodule "submodules/verilog_sample_seldridge"]
	path = submodules/verilog_sample_seldridge
	url = https://github.com/seldridge/verilog
[submodule "submodules/verilog-ethernet"]
	path = submodules/verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet
[submodule "submodules/parallella-oh"]
	path = submodules/parallella-oh
	url = https://github.com/parallella/oh
[submodule "submodules/FPGA-Bitcoin-Miner"]
	path = submodules/FPGA-Bitcoin-Miner
	url = https://github.com/progranism/Open-Source-FPGA-Bitcoin-Miner
[submodule "submodules/aws-fpga"]
	path = submodules/aws-fpga
	url = https://github.com/aws/aws-fpga
